
html {
	overflow-y: scroll; 
	background-image: url("../_images_layout/wood2.jpg");
	/*background-color: #505155;*/
}

body {
	width: 1000px;
	color: #444;
	font-family: sans-serif;
	font-size: 1em;
	line-height: 1.4;
	margin: 0 auto;
}

header, footer, #main {
	float: left;
	width: 1000px;
}





header {
	margin-top: 33px;
}

#logo_left {
	float: left;
	height: 100px;
}


#word-cloud {
	float: right;
	height: 100px;
	width: 260px;
	transform : scale(1.5,1);
	margin-right: 65px;
	font-family: 'Rajdhani', sans-serif;
	color: #fff;
	font-size: 1em;
}

#word-cloud .word-1 {
	position:absolute;
	font-size: 15px;
	top: 10px;
	left: 25px;
}

#word-cloud .word-2 {
	position:absolute;
	font-size: 20px;
	top: 0px;
	left: 130px;
}

#word-cloud .word-3 {
	position:absolute;
	font-size: 19px;
	top: 40px;
	left: 5px;
}

#word-cloud .word-4 {
	position:absolute;
	font-size: 17px;
	top: 33px;
	left: 117px;
}

#word-cloud .word-5 {
	position:absolute;
	font-size: 15px;
	top: 37px;
	left: 210px;
}

#word-cloud .word-6 {
	position:absolute;
	font-size: 15px;
	top: 67px;
	left: 55px;
}

#word-cloud .word-7 {
	position:absolute;
	font-size: 18px;
	top: 62px;
	left: 130px;
}




#main {
	margin-top: 30px;
}



#navigation {
	float: left;
	width: 260px;
	padding-bottom: 20px;
	margin-top: 80px;
}

#navigation ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

#navigation ul li {

}


#navigation a {
	position: relative;
	display: block;
	width: 160px;
	padding: 20px 30px 20px 10px;
	margin-bottom: 30px;
	margin-left: 30px; /* to compensate transform:scale */
	box-shadow: inset 4px 4px 5px #000;
	background-color: #fff;
	text-decoration: none;
	text-align: right;
	font-size: 20px;
	font-weight: 700;
	color: #808185;
	text-shadow: 1.3px 1.3px 1px #000;
	transform : scale(1.3,1);
	font-family: 'Rajdhani', sans-serif;
	z-index: 1;
}

#navigation a:hover {
	/*color: #ee8800;*/
	box-shadow: 5px 5px 5px #000, 0px 0px 10px #000;
}

#navigation .currentpage {
	color: #dd6600;
	box-shadow: 5px 5px 5px #000, 0px 0px 10px #000;
}


#content {
	position: relative;
	background-color: #fff;
	padding: 20px;
	box-shadow: 5px 5px 5px #000, 0px 0px 10px rgba(0, 0, 0, 0.7);
	float: right;
	width: 700px;
	min-height: 800px;
	z-index: 5;
}



#content table {
	border-collapse: collapse;
}

#content table, th, td {
	border: 1px solid #bbb;
}

#content th, td {
	padding: 6px;
	text-align: left;
}

#content .striped tr:nth-child(even) {
	background-color: #f7f7f7
}

#content .outlined {
	border: 2px solid #666;
}

.top_image {
	width: 880px;
	height: 250px;
	margin: 0 0 20px 0;
}

.top_image img {
	width: 100%;
	height: 100%;
}

.left_content {
	float: left;
	width: 590px;
}

.text {
	padding-bottom: 20px;
}

.text h1 {
	font-size: 30px;
	font-weight: 500;
	margin-top: 0;
	margin-bottom: 30px;
}

.text h2 {
	font-size: 23px;
	font-weight: 500;
	margin-top: 0;
	color: #009260;
	margin-bottom: 20px;
}

.text h3 {
	font-size: 19px;
	font-weight: 500;
	margin-top: 0;
	margin-bottom: 14px;
}

.text h4 {
	font-size: 17px;
	font-weight: 500;
	margin-top: 0;
	margin-bottom: 10px;
}


.text p {
	font-size: 16px;
	font-weight: 300;
	line-height: 1.3em;
	margin: 10px 0 25px 0;
}

.text p strong {
	font-weight: 600;
}

.text a {
	color: #444;
}

.green {
	color: #009260;
}

.error {
	color: #ee0000;
}

#content button {
	border: none;
	background-color: #ddd;
	padding: 7px 20px;
	text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
	font-size: 16px;
}
	

#submenu_in_content ul {
	list-style: none;
}

#submenu_in_content ul li {
	padding: 3px;
}


.left_img_container {
	float:left;
	margin-top: 10px;
	margin-right: 25px;
	margin-bottom: 10px;
}


.right_img_container {
	float:right;
	margin-top: 10px;
	margin-left: 25px;
	margin-bottom: 10px;
}


.absolventengalerie {
	margin: 50px auto 50px auto;
	text-align: center;
	padding-top: 30px;
	padding-bottom: 20px;
}

.absolventengalerie .absolventenbild {
	width: 800px;
	margin-top: 20px;
	margin-bottom: 20px;
}

.absolventengalerie .absolventenbild_links {
	width: 420px;
	float: left;
	margin-top: 20px;
	margin-bottom: 20px;
}

.absolventengalerie .absolventenbild_rechts {
	width: 420px;
	float: right;
	margin-top: 20px;
	margin-bottom: 20px;
}
	
.absolventengalerie h3 {
	font-size: 23px;
	font-weight: bold;
}



.bildergalerie {
	width: 600px;
	margin: 50px auto 50px auto;
	background-color: #eaeaea;
	text-align: center;
	padding-top: 30px;
	padding-bottom: 30px;
}

.bildergalerie .absolventenbild {
	width: 400px;
	margin-top: 20px;
	margin-bottom: 20px;
}

.bildergalerie .absolventenbild_links {
	width: 230px;
	float: left;
	margin-left: 50px;
	margin-top: 20px;
	margin-bottom: 20px;
}

.bildergalerie .absolventenbild_rechts {
	width: 230px;
	float: right;
	margin-right: 50px;
	margin-top: 20px;
	margin-bottom: 20px;
}
	
.bildergalerie h3 {
	font-size: 23px;
	font-weight: bold;
}



.news {
	width: 700px;
	margin: 50px auto 50px auto;
	border-left: 5px solid #d6d6d6;
	padding: 20px 20px 20px 30px;
	background-color: #eaeaea;
	
}

.absolventenbrief {
	width: 400px;
	float: right;
	padding-left: 40px;
}





.sidebar {
	width: 250px;
	float: right;
	margin: 0 0 10px 0;
}


.sidebar-img {
	width: 100%;
}



footer {
	background-color: rgba(0, 0, 0, 0.4);
	margin-top: 20px;
	border-top: 1px solid #B4B4B4;
	padding: 15px 0 20px 0;
}


#footercontainer {
	width: 740px;
	float:right;
}

#footerleft {
	/*background-color: #00cc55;*/
	float:left;
	width:164px;
	transform : scale(1.5,1);
	margin-left: 41px;
}

#footermiddle {
	/*background-color: #2244cc;*/
	float:left;
	width:164px;
	transform : scale(1.5,1);
	margin-left: 82px;
}

#footerright {
	/*background-color: #cc0055;*/
	float:right;
	width:164px;
	transform : scale(1.5,1);
	margin-right: 41px;
}


.footertext {
	position: relative;
	color: #aaa;
	font-family: 'Rajdhani', sans-serif;
	font-size: 12px;
	border-left: solid 3px #777;
	padding-left: 5px;
}

.footertext.currentpage {
	border-left: solid 3px #dd6600;;
}

.footertext a {
	color: #fff;
	text-decoration: none;
}
